extends base.pug

block style
  style
    include ../static/css/stylee.css 
block container  
  section
    .hero-section
      img.hero-image(src="./static/images/j.png")
      .hero-section-text
        h1 We Sell Lifestyle
        p Flat 40%  Off Premium Brands
        a.btnn.btn(href='#', type='button')  Shop Now

  main 
    section
      .products 
        h2.product-category New Arrivals 
        .product-container
          .product-cards
            .product-image 
              span.discount 50% Off
              img.image(src="./static/images/10.jpg", alt="")
              button.btn-card add to wishlist
            .product-info
              h2.brand Brand 
              p.description detail of product
              span.price $20
              span.actual-price $20
          .product-cards
            .product-image 
              span.discount 50% Off
              img.image(src="./static/images/11.jpeg", alt="")
              button.btn-card add to wishlist
            .product-info
              h2.brand Brand 
              p.description detail of product
              span.price $20
              span.actual-price $20
          .product-cards
            .product-image 
              span.discount 50% Off
              img.image(src="./static/images/12.jpg", alt="")
              button.btn-card add to wishlist
            .product-info
              h2.brand Brand 
              p.description detail of product
              span.price $20
              span.actual-price $20
          .product-cards
            .product-image 
              span.discount 50% Off
              img.image(src="./static/images/15.jpg", alt="")
              button.btn-card add to wishlist
            .product-info
              h2.brand Brand 
              p.description detail of product
              span.price $20
              span.actual-price $20            




block scripts
  script(src='../jq/jquery.js', rel='text/javascript')
  script(src='../js/bootstrap.js', rel='text/javascript')