*{
    margin: 0;
    padding: 0;
    font-size: 16px;
}
.container{
    width: 100%;
}
.mycontactForm{
    display: flex;
    flex-flow: column;
    width: 45%;
    margin: auto;
    padding-top: 72px;
}
h5{
    display:flex;
    justify-content: center;
    text-decoration: underline;
}
.mycontactInput, .text{
    border: 2px solid darkgrey;
    border-radius: 7px;
    padding: 6px;
    margin-bottom: 12px;
}
.btn1{
    width: 22%;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
    margin-top: 44px;
    padding: 7px;
    border-radius: 7px;
    border-style: solid;
    color: cornsilk;
    background-color: rgb(30 92 183 / 90%);
}
